/* RESET GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* NAV */
nav {
    background-color: #3E2723;
    padding: 12px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #D7CCC8;
}

/* BOTONES GENERALES */
.boton {
    display: inline-block;
    padding: 10px 15px;
    background-color: #6D4C41;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #4E342E;
}

/* TARJETAS */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* CONTENEDOR */
.container {
    padding: 20px;
}

/* HERO (PORTADA) */
.hero {
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
/* ANIMACION */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}